<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-manu">
                    <ul>
                        <li><a href="/index#about">About Us</a></li>
                        <li><a href="/index#services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <p>Copyright &copy; 2016</p>
            </div>
        </div>
    </div>
</footer>
