<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="block">
                    <h1 class="animated fadeInUp">A TAILORED &#38; AFFORDABLE <br> MARKETING CONSULTANCY</h1>
                    <p class="animated fadeInUp">Alemdar Marketing is a marketing consultancy company based in London, focused on providing tailored value marketing services to small and growing businesses...</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>About Us</h2>
                        <p>Our vision is to help <strong>plan</strong>, <strong>create</strong> and <strong>drive</strong> your marketing activities more effectively and at more affordable costs. So, if you're formulating strategic marketing plans, designing a new website, launching a new service or product, planning a marketing campaign, or simply need a creativity and fresh thinking into your marketing initiatives – <strong>Alemdar Marketing Consultancy may be just what you need for your business growth!</strong></p>
                    </div>
                    <p>Alemdar Marketing believed that every business is unique and is structured in a different way. You may already have a Marketing employees who needs support on a particular project or you may prefer to outsource your marketing to gain expert support, insights and creative ideas to help grow your business.
                    </p>
                </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="/assets/img/wrapper-img.gif" alt="Img">
                </div>
            </div><!-- .col-md-5 close -->
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <h2>TAILORED FOR YOUR BUSINESS</h2>
                <p>If you’re looking for a marketing company to guide you in your company’s business goals, please find some examples below in which Alemdar Marketing work as a marketing agency and the marketing consultancy services we can offer that fit in with your business:
                    <ul>
                        <li>
                            <h3>One off Project</h3>
                            <p>You have a particular project you need an experienced marketing consultant to work on</p>
                        </li>
                        <li>
                            <h3>Outsourced Marketing Department</h3>
                            <p>You want to outsource your marketing to save money and gain an independent view point</p>
                        </li>
                        <li>
                            <h3>Marketing Coach</h3>
                            <p>You need a monthly meeting about marketing to keep you on track, giving you an action list with measurable results</p>
                        </li>
                    </ul>
                </p>
                <!--<a href="work.html" class="btn btn-view-works">View Works</a>-->
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Our Services</h2>
                <p>Alemdar Marketing provides tailored consultancy to fit with your business needs</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6 col-md-3">
                <div class="service-item">
                    <i class="icon ion-coffee"></i>
                    <h4>Meeting</h4>
                    <p>We will discuss your goals, your business in general and what to achieve in the future. Communication and discussion is essential for us to develop a successful strategy and plan tailored exactly for your business needs and wants.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service-item">
                    <i class="icon ion-compass"></i>
                    <h4>Audit & Strategy </h4>
                    <p>We review all your current marketing activities in order to understand where your brand stands and uncover where lies the opportunities to take it futher. Than we will focus on your marketing strategy that will fit with your objectives and encompass that will help your business grow and release its products or services to the market.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service-item">
                    <i class="icon ion-arrow-graph-up-right"></i>
                    <h4>Action</h4>
                    <p>We will start delivering and executing the marketing tactics outlined in the strategy that we have already produced. We will work on brand management, website development and maintenance, social media, promotion and advertising, content marketing and regular consultation.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service-item">
                    <i class="icon ion-chatbubbles"></i>
                    <h4>Monitoring</h4>
                    <p>We will regularly be in touch with you and discuss the process. One of the most important parts of marketing companies sometimes fail to deliver is a clear monitoring and reporting system. By closely monitoring the progress of our work we can deliver the highest quality service to our clients.</p>
                </div>
            </div>
        </div>
    </div>
</section>